* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #222;
}

/***************************************/
/* GENERAL REUSABLE COMPONENTS */
/***************************************/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container--small {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 0 0 2rem;
}

/***************************************/
/* REUSABLE GRID */
/***************************************/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: baseline;
}

.grid--footer {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
}

.grid-row-small {
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.career-box {
  gap: 1rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.8rem;
  justify-items: center;
}

.grid--4--cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.8rem;
  row-gap: 2.8rem;
  justify-items: center;
  align-items: baseline;
}

/***************************************/
/* HELPER CLASSES */
/***************************************/
.margin-right-small {
  margin-right: 3.2rem !important;
}

.margin-bottom-large {
  margin-bottom: 6.4rem !important;
}

.margin-bottom-small {
  margin-bottom: 2.4rem !important;
}

.center-text {
  text-align: center;
}
