:root {
  --text-primary: #f1f3f5;
  --text-secondary: #e9ecef;
  --text-tertiary: #dee2e6;
  --text-quaternary: #ced4da;
  --text-sub-heading: #adb5bd;
  --text-color: #f8f9fa;
  --text-color-hover: #ffffff;
  --text-color-work-languages: #212529;

  --btn-text-color: #373737;
  --btn-bg-color: #f9f9f9;
  --btn-bg-color-hover: #adb5bd;

  --btn-sec-text-color: #f8f9fa;
  --btn-sec-bg-color: #1e2125;
  --btn-sec-bg-color-hover: #373b3e;

  --link-text-color: #a6a8a9;

  --bg-color-1: #212529;
  --bg-color-2: #373b3e;
  --bg-color-work-content: #ced4da;
  --bg-color-hover: #909294;

  --border-color: rgba(248, 249, 250, 0.4);

  --switch-mode-url: url(../icons/sun-icon.svg);

  --translate-mode-url: url(../icons/translate-bold.svg);
}

/* HEADINGS */
.heading-prime,
.heading-second,
.heading-third {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-prime {
  color: var(--text-primary);
  font-size: 4.8rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: var(--text-secondary);
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  color: var(--text-tertiary);
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.sub-heading {
  display: block;
  color: var(--text-sub-heading);
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

/* BUTTONS */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 99999px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.5s;
  font-weight: 600;
}

.btn-prime:link,
.btn-prime:visited {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
}
.btn-prime:hover,
.btn-prime:active {
  background-color: var(--btn-bg-color-hover);
}

.btn-sec:link,
.btn-sec:visited {
  background-color: var(--btn-sec-bg-color);
  color: var(--btn-sec-text-color);
  border: 1px solid var(--border-color);
}

.btn-sec:hover,
.btn-sec:active {
  background-color: var(--btn-sec-bg-color-hover);
}

/* LINKS */
.link-icon:link,
.link-icon:visited,
.experience-text--link:link,
.experience-text--link:visited {
  text-decoration: none;
  color: var(--link-text-color);
  padding-bottom: 2px;
  line-height: 0.9;
  transition: all 0.3s;
  cursor: pointer;
}

.link-icon:link,
.link-icon:visited {
  color: var(--text-color);
}

.link-icon:hover,
.link-icon:active {
  color: var(--link-text-color);
}

.experience-text--link:hover,
.experience-text--link:active {
  color: var(--text-color-hover);
}

/*****************************/
/* HEADER */
/*****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-1);
  height: 5.4rem;
  padding: 0 3.2rem;
  position: relative;
}

.logo {
  width: 8rem;
  height: 4rem;
  border-radius: 99999px;
  cursor: pointer;
}

/*****************************/
/* NAVIGATION */
/*****************************/
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 0.6rem 1.2rem;
  line-height: 3rem;
  border-radius: 99999px;
  transition: all 0.5s;
  cursor: pointer;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: var(--bg-color-hover);
  color: var(--text-color-hover);
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  color: #373737;
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAV */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5.4rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  border-bottom: 1px solid var(--border-color);
}

.sticky .section-hero {
  margin-top: 5rem;
}

.switch-mode {
  background: var(--bg-color-1) var(--switch-mode-url) no-repeat center;
}

.translate-mode {
  background: var(--bg-color-1) var(--translate-mode-url) no-repeat center;
}

.switch-mode,
.translate-mode {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 2.2rem;
  border-radius: 99999px;
  transition: all 0.5s;
}

/*****************************/
/* HERO SECTION */
/*****************************/
.section-hero {
  padding: 6.2rem 0 9.6rem 0;
  height: 100vh;
  background-color: var(--bg-color-1);
  border-bottom: 1px solid var(--border-color);
}

.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  align-items: center;
  padding: 0 4.8rem;
}

.hero-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-img {
  width: 75%;
  border-radius: 50%;
  border: 3px solid #909294;
}

/*****************************/
/* ABOUT SECTION */
/*****************************/
.section-about {
  padding: 6.2rem 0 9.6rem 0;
  background-color: var(--bg-color-2);
  border-bottom: 1px solid var(--border-color);
}

.about-text {
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

/*****************************/
/* SKILLS SECTION */
/*****************************/
.section-skills {
  padding: 6.2rem 0 9.6rem 0;
  height: 100vh;
  background-color: var(--bg-color-1);
  border-bottom: 1px solid var(--border-color);
}

.skills-list {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.8;
  list-style: none;
}

/*****************************/
/* EXPERIENCE SECTION */
/*****************************/
.section-experience {
  padding: 6.2rem 0 9.6rem 0;
  background-color: var(--bg-color-2);
  border-bottom: 1px solid var(--border-color);
}

hr {
  margin: 4rem 0;
  opacity: 0.08;
}

.secondary-heading {
  color: var(--text-secondary);
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.tertiary-heading {
  color: var(--text-tertiary);
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.quaternary-heading {
  color: var(--text-quaternary);
  font-size: 1.8rem;
  line-height: 1.6;
}

.career-sub-heading {
  color: var(--text-sub-heading);
  font-size: 1.6rem;
}

.career-text {
  padding: 0 0 3rem 1.5rem;
}

.experience-text,
.icon-description,
.icon,
.icon-link {
  color: var(--text-color);
}

.experience-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

.icon-description {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
}

.icon,
.icon-link {
  width: 2rem;
  height: 2rem;
}

/*****************************/
/* PORTFOLIO SECTION */
/*****************************/
.section-portfolio {
  padding: 6.2rem 0 9.6rem 0;
  background-color: var(--bg-color-1);
  border-bottom: 1px solid var(--border-color);
}

.work-text {
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.work {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
}

.work:hover {
  transform: scale(1.1);
}

.work-img {
  width: 100%;
  display: block;
}

.work-content {
  padding: 1.2rem 3.2rem;
  background-color: #373737;
  display: flex;
  flex-direction: column;
}

.work-languages {
  font-size: 1.3rem;
  color: #ebebeb;
}

/*****************************/
/* CONTACT SECTION */
/*****************************/
.section-contact {
  padding: 6.2rem 0 9.6rem 0;
  background-color: var(--bg-color-2);
  border-bottom: 1px solid var(--border-color);
}

.contact--col {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.8rem;
}

.contact-icon,
.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--text-color);
}

.link-icon.contact-link-icon {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.8;
  cursor: pointer;
}

.link-icon.contact-link-icon:hover {
  color: var(--btn-bg-color-hover);
}

.social-heading {
  color: var(--text-secondary);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2.2rem;
}

.social-icon-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.social-icon {
  cursor: pointer;
  border: 0px;
  padding: 1.2rem;
  border-radius: 99999px;
  transition: all 0.5s;
}

.social-icon:hover {
  background-color: var(--bg-color-hover);
  color: var(--text-color-hover);
}

/*****************************/
/* FOOTER SECTION */
/*****************************/
.section-footer {
  padding: 12.8rem 0 4.8rem;
  background-color: var(--bg-color-2);
}

.footer-text {
  font-size: 1.4rem;
  color: var(--text-secondary);
}

/* LANGUAGUE MODE */
.language-eng {
  display: block;
}

.language-ptbr {
  display: none;
}
